body {
  max-width:100%;
}
body, p, i, h1, h2, h3, h4, h5, span
{
font-family: sans-serif
}
.west{
  width:100%;
  transition: all 2s;
}
.west.eastiscoming{
  width:50%;
  float:left;
}
.thething{
  margin:auto;
}
img.logo{
	width:600px;
	display:block;
  margin:auto;
	position:relative;
	margin-top:20px;
	transition: all 2s;
}
.east {
  height:0;
  display:block;
  overflow:hidden;
  bottom:-100px;
  position:relative;
  opacity:0;
	transition: all 2s;
	width:50%;
	float:right;
}
.east.theeastsidecometh {
  opacity:1;
  display:block;
  height:100%;
  bottom:auto;
  overflow:initial;
}
img.logo.loaded{
  width:400px;
}
.title{
	overflow:hidden;
	transition: all 2s;
	opacity:0;
	text-align:center;
	margin:auto;
	height:0;
}
.title.displayed{
  height:auto;
  opacity:1;
}
.content{
  font-size:30px;
  width:90%;
  position:relative;
  height:300px;
  margin:auto;
  margin-top:150px;
  margin-left:-50px;
}
.statement{
  overflow:hidden;
  transition: all 2s;
  position:absolute;
  display:block;
  height:300px;
  margin-top:0;
}
.readyandwaiting
{
  margin-top:0;
  opacity:0;
  height:0;
  overflow:hidden;
}
.goneaway{
  margin-top:-100px;
}
@media only screen and (max-width: 1278px) {
    .content{
      margin-left:auto;
      font-size:20px;
      margin-top:30px;
    }
    img.logo{
      width:300px;
      margin-top:5px;
    }
    img.logo.loaded{
      width:200px;
    }
    h1{
      font-size:26px;
    }
}
@media only screen and (max-width: 800px) {
	.west.eastiscoming{
    float:left;
  }
  .content{
    font-size:20px;
    margin-top:50px;
    margin-left:auto;
    text-align:center;
  }
  img.logo{
    width:200px;
    margin-top:5px;
  }
  img.logo.loaded{
    width:100px;
  }
  h1{
    font-size:26px;
  }
}
@media only screen and (max-width: 600px) {
  .page{
    margin-top:10px;
  }
  .content{
    width:100%;
    margin-top:75px;
  }
	.west.eastiscoming{
    width:100%;
  }
  .east {
    width:100%;
  }
}
